<section class="contact" id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 contact__info">
        <ul>
          <li><i class="fas fa-map-marker"></i>Some Address</li>
          <li><i class="fas fa-envelope"></i>Some@Address</li>
          <li>
            <i class="fas fa-phone"></i>
            <a href="tel:052-644-9220"> 052-644-9220</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="contact__form">
          <form action="">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>E-mail</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Subject</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Leave a message</mat-label>
              <textarea matInput required placeholder="Lets talk..."></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
