<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>Skills</h2>
      <span class="seperator"></span>
      <ul class="d-flex">
        <li>
          <i class="devicon-angularjs-plain"></i>
        </li>
        <li>
          <i class="devicon-firebase-plain"></i>
        </li>
        <li>
          <i class="devicon-blender-original"></i>
        </li>
        <li>
          <i class="devicon-java-plain"></i>
        </li>
        <li>
          <i class="devicon-photoshop-plain"></i>
        </li>
        <li>
          <i class="devicon-unrealengine-original"></i>
        </li>
        <li>
          <i class="devicon-linux-plain"></i>
        </li>
        <li>
          <i class="devicon-git-plain"></i>
        </li>
        <li>
          <i class="fas fa-microchip"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="resume__details">
    <div class="container">
      <h2>Resume</h2>
      <span class="seperator"></span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam
        reprehenderit labore sunt, minima numquam nisi hic placeat cum,
        delectus, incidunt repudiandae. Minus, exercitationem sit.
      </p>
      <div class="row">
        <h2>Summary</h2>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="resume__resume-item">
            <h3>Kobi Soffer</h3>
            <i>
              Lorem iisum, dolor sit amet consectetur adiiisicing elit. Laborum
              quae odio ab, iisam rerum id.
            </i>
            <ul>
              <li>Email: kobisoffer@gmail.com</li>
              <li>Phone: 0526-449220</li>
              <li>Location: Haifa</li>
            </ul>
          </div>
          <div class="resume__resume-item">
            <h3>Skills</h3>
            <i>
              Lorem iisum, dolor sit amet consectetur adiiisicing elit. Laborum
              quae odio ab, iisam rerum id.
            </i>
            <ul>
              <li>FPGA</li>
              <li>3D</li>
              <li>CODE</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="resume__resume-item">
            <h3>Experience</h3>
            <i>
              Lorem iisum, dolor sit amet consectetur adiiisicing elit. Laborum
              quae odio ab, iisam rerum id.
            </i>
            <ul>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
